{{ define "main" }}
    <div class="f6 f4-ns lh-copy measure center">
        <article class="open-sans">
            <header>
                <h1 class="f2">{{.Title}}</h1>
            </header>
            {{.Content}}
        </article>
        <!-- Ranges through content/post/*.md -->
        {{ range .Pages }}
        <article class="pv3 bt bb b--black-10 ph3 ph0-l">
            <div class="pr3-ns order-2 order-1-ns">
                <h3 class="mv0"><a href="{{.Permalink}}" class="link black-90">{{.Title}}</a></h3>
                <p class="mv1 f5 f4-l black-70 lh-copy">{{ .Description }}</p>
                <time class="f6 db gray">{{.Date.Format "Jan 2, 2006"}}</time>
            </div>
        </article>
        {{ end }}
    </div>
{{ end }}
