<div class="mb4-l cf">
  <section class="cf mb5">
    <div class="mb4 mb0-ns fl w-100 w-100-l" >
      <p class="f5 fw6 mb2 mt0">
        Subscribe to email newsletter
      </p>
      <form action="https://email.us14.list-manage.com/subscribe/post?u=1ecd5e07ce82fa19507c2bec7&amp;id=da056c5f55" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input name="EMAIL" placeholder="me@example.com" class="mw-100 w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph3 border-box">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1ecd5e07ce82fa19507c2bec7_da056c5f55" tabindex="-1" value=""></div>
<input type="submit" value="Sign Up" class="input-reset w-100 w-auto-ns near-black f5 fw7 pv2 pv3-ns ph4 ba0 bg-hover-mid-gray" style="background-color: #ffff00;">
    </div>
  </section>
</div>
